/* Contacts */
.box {
  margin: 20px;
}

/* Form */
.form {
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 10px 20px;
  gap: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  width: 180px;
  gap: 5px;
  font-size: 20px;
}

.btn {
  width: 100px;
  background-color: #fff;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  cursor: pointer;

  &:hover {
    /* background-color: #c85f5f5c; */
    /* background-color: #9a636334; */
    background-color: #0852237f;
  }
}

/* List */
.list {
  width: 360px;
  padding: 0;
  margin: 10px 20px;
}

/* Item */
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.del {
  border: 0.5px solid;
  border-radius: 3px;
  font-size: 12px;
  padding: 1px 5px;
  background-color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #0852237f;
  }
}

.phonebook {
  color: #085223b4;
}
